    


# Ignore node_modules in both backend and frontend
backendWebdev/week4/node_modules
backendWebdev/week5/node_modules
backendWebdev/week5/5/node_modules
backendWebdev/week5/5.2/node_modules

# Ignore build directories
backend/build/
frontend/build/

# Ignore environment files
backend/.env
frontend/.env

# Ignore logs
backend/logs/
frontend/logs/

# Ignore database files
db_mysql/*.sql

# Ignore miscellaneous files
*.log
.DS_Store